body{
	width: 100%;
}

ul#nav{
	margin: 10px;
	padding: 10px;
}

ul#nav li{
	float: left;
	list-style-position: inside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#nav li a{
	border: 1px solid #000;
	color: #000;
	display: block;
	font-family: Arial, sans-serif, Helvetica;
	font-size: 12px;
	margin: 0 5px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
}

ul.ms-sub-menu{
	display: none;
}