body{
	width: 100%;
}

ul.ms-menu{
	margin: 10px;
	padding: 10px;
}

ul.ms-menu li{
	float: left;
	list-style-position: inside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

ul.ms-menu li a{
	border: 1px solid #000;
	color: #000;
	display: block;
	font-family: Arial, sans-serif, Helvetica;
	font-size: 12px;
	margin: 0 5px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
}

ul.ms-menu li:hover ul{
	display: block;
}

ul.ms-menu ul a:hover{
	background-color: #000;
	color: #FFF !important;
}

ul.ms-menu ul{
	border: 1px solid #000;
	display: none;
	padding: 0;
	position: absolute;
	top: 26px;
	left: 5px;
	width: 150px;
}

ul.ms-menu ul li{
	width: 100%;
}

ul.ms-menu ul li a{
	border: none;
	margin: 0;
	text-align: left;
}

ul.ms-menu ul.ms-sub-menu{
	top: 26px;
	right: 5px;
	width: 150px;
}

ul.ms-menu ul.ms-sub-menu li a:hover{
	background-color: #000;
	color: #FFF;
}

ul.ms-sub-menu ul{
	display: none !important;
}